.repository {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
        width: 70%;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        background: rgba(144, 144, 144, 0.12);
        width: 100%;
    }
    &__title {
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 30px;
        align-items: center;
        
        @media screen and (min-width: 1024px) {
            font-size: 50px;
        }
    }
    &__content-count {
        border: 1px solid;
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding-left: 15px;
        
        @media screen and (min-width: 1024px) {
            width: 30%;
        }
    }
    &__count {
        display: inline-block;
        border-left: 1px solid;
        padding: 15px;
    }
    &__count-name {
        display: inline-block;
    }
    svg{
        height: 25px;
        width: 25px;
    }
}